@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@font-face {
  font-family: 'Aurora Regular', Astralaga;
  src: url(http://www.cufonts.com);
}
@font-face {
  font-family: 'Astralaga Bold';
  src: url(http://www.cufonts.com);
}

.main {
  width: 330px;
  height: 330px;
  border: 1px solid #CCC;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}

.circle {
  width: 30px;
  height: 30px;
  background: beige;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle 15s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);

  }

  100% {
    transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}

.typewriter h1 {
  color: black;
  font-family: 'Aurora Regular', Astralaga;
  overflow: hidden;
  border-right: .15em solid beige;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(20, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent
  }
  50% {
    border-color: rgb(223, 224, 224)
  }
}

.button {
  position: relative;
}
.button:before,
.button:after {
  border: 0 solid transparent;
  transition: all 0.25s;
  content: '';
  height: 24px;
  position: absolute;
  width: 24px;
}
.button:before {
  border-top: 2px solid #e1d8c7;
  left: 0px;
  top: -5px;
}
.button:after {
  /* border-bottom: 9px solid #e1d8c7; */
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=8c7561);
  bottom: -21px;
  right: 0px;
}
.button:hover:before,
.button:hover:after {
  height: 100%;
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: rgba(255, 251, 251, 0.25);
  border-radius: 20px;
  transition: all 0.3s;
}
.switch::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}
input[type='checkbox']:checked + .switch::after {
  transform: translateX(20px);
}
input[type='checkbox']:checked + .switch {
  background-color: #896e47;
}
.offscreen {
  position: absolute;
  left: -9999px;
}
::selection {
  background: #35c4aa;
  color: white;
}
.custom-text-selection::selection {
  background: #35c4aa;
  color: white;
}

/* react logo css */
#rotate {
  transition: transform .6s ease-in-out;
}
#rotate:hover{
  transition: transform .9s ease-in-out;
  transform: rotate(280deg);
}
#rotate.origin {
  transition: transform .6s ease-in-out;
  transform: rotate(0deg);
  transform-origin: top left;
}
#rotate.origin:hover{
  transition: transform .9s ease-in-out;
  transform: rotate(-280deg);
  transform-origin: top left;
}
#rotate.three-dimension:hover{
  transition: transform .9s ease-in-out;
  transform: rotate3d(1, 2, -1, 280deg)
}

/* RESTful API Icon */
#machine-rotate {
  transition: transform 2s ease-in-out;
}
#machine-rotate:hover{
  transition: transform 2s ease-in-out;
  transform: rotate(280deg);
}
#machine-rotate.origin {
  transition: transform 2s ease-in-out;
  transform: rotate(0deg);
  transform-origin: top left;
}
#machine-rotate.origin:hover{
  transition: transform 2s ease-in-out;
  transform: rotate(-280deg);
  transform-origin: top left;
}
#machine-rotate.three-dimension:hover{
  transition: transform 1s ease-in-out;
  transform: rotate3d(1, 2, -1, 280deg)
}

#avatar {
  position: relative;
}

.highlight {
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=8c7561);
  margin: -3px -6px;
  padding:  6px  6px
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: #161616;
	min-height: 100vh;
}

/* div#section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(green, #6ee7b7);
	clip-path: circle(30% at right 80%);
  clip-path: circle(25% at 90% 78%);
} */

/* section::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#6ee7b7, green);
	clip-path: circle(25% at 10% 48%);
} */

.container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.container .card {
	position: relative;
	width: 300px;
	height: 400px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-20px);
}

.container .card .content .imgBx {
	position: relative;
	width: 290px;
	height: 240px;
	overflow: hidden;
}

.container .card .content .imgBx img {
	position: absolute;
	top: 10;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .card .content .contentBx h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.container .card .sci {
	position: absolute;
	bottom: 20px;
	display: flex;
}

.container .card .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(0px);
	transition: 0.5s;
	opacity: 0;
}

.container .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}

.container .card .sci li a {
	color: #fff;
	font-size: 20px;
}